html {
	font-size: 24px;
	font-family: 'Open Sans';
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input, select {
	font-size: 1rem;
}

table {
	width: 100%;
	text-align: center;
}

td {
	border: 1px solid;
}

.hidden {
	display: none;
}

.header-statement {
	width: 100%;
	font-size: 1.5rem;
	margin-bottom: 1rem;
	color: red;
	text-align: center;
}

.data-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0.25rem 0;
}

.title {
	font-size: 1.5rem;
	margin-top: 2rem;
	text-align: center;
}

.separator-dashed {
	border-bottom: 1px dashed;
}

.separator-solid {
	border-bottom: 2px solid;
}

.answer {
	width: 30%;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.section {
	width: 100%;
	border: 1px solid;
	border-radius: 5px;
	padding: 5px;
}

.section:not(:last-child) {
	margin-bottom: 2rem;
}

.results-section {
	margin-bottom: 1rem;
}

.result {
	padding: 1px 5px;
	text-align: center;
	border-radius: 5px;
}

.button {
	width: 10rem;
}

.red {
	background-color: red;
	color: white;
}

.green {
	background-color: green;
	color: white;
}
