body {
	max-width: 500px;
}

.hidden {
	display: none;
}

.data-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.answer {
	width: 30%;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.section {
	border: 1px solid;
	border-radius: 5px;
	padding: 5px;
}

.bottom-margin {
	margin-bottom: 4rem;
}

.results-section {
	margin-bottom: 1rem;
}

.result {
	padding: 1px 5px;
	text-align: center;
	border-radius: 5px;
}

.red {
	background-color: red;
	color: white;
}

.green {
	background-color: green;
	color: white;
}
